<!doctype html>
<html>
<head>
  <title></title>
  <style type="text/css">
    *{
      margin: 0;
      padding: 0;
      outline: 0;
    }
    html{
      background-color: #eee;
      font-family: Helvetica;
      font-size: 20px;
    }
    form{
      text-align: center;
      margin: auto;
      max-width: 60%;
      width: 100%;
    }
    form input[type=text]{
      font-size: 20px;
      font-family: Helvetica;
      width: calc(100% - 10px);
      display: inline-block;
      padding: 5px;
    }
    form input[type="button"]{
      font-size: 20px;
      font-family: Helvetica;
      width: calc(25% - 5px);
      display: inline-block;
      position: relative;
    }
  </style>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>

  <form method="post" name="form1" action="code/morse">
    <label>Digite las letras aqui para traducirlas a codigo morsa</label>
    <input type="text" name="words" placeholder="Hola">
    <input type="submit" value="Traducir">
  </form>

  <form method="post" name="form1" action="code/texto">
    <label>Digite codigo morsa para traducirla a letras(letras separas por espacio o si es un espacio coloque '/')</label>
    <input type="text" name="words" placeholder=".... --- .-.. .-">
    <input type="submit" value="Traducir">
  </form>

</body>
</html>